{{ define "head-styles" }}
  {{ $pageCSS := "scss/index.scss" }}
  {{ $options := (dict "outputStyle" "compressed") }}
  {{ $inlineCSS := resources.Get $pageCSS | css.Sass $options }}
<style>{{ $inlineCSS.Content | safeCSS }}</style>
{{ end }}

{{ define "header" }}
  <nav class="nav"></nav>
{{ end }}

{{ define "main" }}
  <h1 class="page-title">{{ .Title }}</h1>
  {{ .Content }}
  <h2>Products</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus qui,
    minus debitis omnis aspernatur, maxime est dolorem quam sed nisi perferendis
    quaerat fugiat placeat cumque eveniet eaque, vero obcaecati ipsum.
  </p>
{{ end }}
