{{ define "head-styles" }}
  {{ $pageCSS := "scss/index.scss" }}
  {{ $options := (dict "transpiler" "dartsass" "outputStyle" "compressed") }}
  {{ $inlineCSS := resources.Get $pageCSS | css.Sass $options }}
<style>{{ $inlineCSS.Content | safeCSS }}</style>
{{ end }}

{{ define "main" }}
  <h1 class="page-title">Hand-hooked goods made with love by Dorian</h1>
  <h2 class="tagline">Custom and made-to-order crochet creations</h2>
  <a class="cta button" href="/shop/">Shop Now</a>
  <picture class="hero-image">
    <img src="/assets/images/dorian-crochet-landscape.webp" alt="Dorian" />
  </picture>
  <section class="newest-arrivals">
    <h2>Newest Arrivals</h2>
    <div >
      {{ $products := where .Site.RegularPages "Section" "products" }}
      {{ $latest := $products.ByDate.Reverse | first 4 }}
      {{ range $latest }}
        <div class="product">
          <a href="{{ .RelPermalink }}">
            {{ with .Params.featured_image }}
              <img src="/assets/images/{{ . }}" alt="{{ $.Title }}" />
            {{ end }}
          </a>
        </div>
      {{ end }}
    </div>
  </section>
  <a href="/shop/">View all products</a>
{{ end }}
