{{ define "head-styles" }}
  {{ $pageCSS := "scss/index.scss" }}
  {{ $options := (dict "transpiler" "dartsass" "outputStyle" "compressed") }}
  {{ $inlineCSS := resources.Get $pageCSS | css.Sass $options }}
<style>{{ $inlineCSS.Content | safeCSS }}</style>
{{ end }}

{{ define "main" }}
  <h1 class="page-title">Hand-hooked goods made with love by Dorian</h1>
  <h2 class="tagline">Custom and made-to-order crochet creations</h2>
  <a class="cta button">Shop Now</a>
  <picture class="hero-image">
    <img src="/assets/images/dorian-crochet-landscape.webp" alt="Dorian" />
  </picture>
  <h2 class="newest-arrivals">Newest Arrivals</h2>
  
{{ end }}
