.button {
  display: inline-block;
  padding: var(--space-xs) var(--space-s);
  text-transform: uppercase;
  background-color: var(--dark-blue);
  color: var(--cream);
  border-radius: 3px;
  font-size: var(--step-0);
}
