.page-title {
  margin-block-start: 0;
}

.tagline {
  font-family: var(--sans-serif);
}

.newest-arrivals {
  margin-block-start: var(--step-3);
  padding-bottom: var(--step--4);
  border-bottom: var(--step--5) solid var(--teal);
}

.cta {
  margin-block-start: var(--step-3);
}

.hero-image {
  margin-block-start: var(--step-3);
}
