@use 'colors';
@use 'spacing';
@use 'typography';
@use 'layout';
@use 'buttons';
@use 'header';
@use 'nav-links';

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.skip-to-content-link {
  position: absolute;
  left: 50%;
  padding: 0.5rem;
  transform: translateY(-100%);

  &:focus {
    transform: translateY(0%);
    z-index: 200;
  }
}
